@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    /* overflow-y: hidden; Hide vertical scrollbar */
    /* overflow-x: hidden; Hide horizontal scrollbar */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  body::-webkit-scrollbar {
    display: none;
  }
  